# **Regras de associação**

### **Algoritmo Apriori**

## Importação das bibliotecas principais

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importação do Dataset

In [2]:
base = pd.read_csv('Compras.csv', ';', encoding='cp1252')
base

C:\Users\camil\AppData\Local\Temp\ipykernel_9972\1529932362.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  base = pd.read_csv('Compras.csv', ';', encoding='cp1252')

  Leite Café Cerveja  Pão Manteiga Arroz Feijão
0   Não  Sim     Não  Sim      Sim   Não    Não
1   Sim  Não     Sim  Sim      Sim   Não    Não
2   Não  Sim     Não  Sim      Sim   Não    Não
3   Sim  Sim     Não  Sim      Sim   Não    Não
4   Não  Não     Sim  Não      Não   Não    Não
5   Não  Não     Não  Não      Sim   Não    Não
6   Não  Não     Não  Sim      Não   Não    Não
7   Não  Não     Não  Não      Não   Não    Sim
8   Não  Não     Não  Não      Não   Sim    Sim
9   Não  Não     Não  Não      Não   Sim    Não

# Quando há presença do produto

## Preparando o dataset

In [3]:
dy = base.copy()

for col in dy.columns:
    dy[col].replace("Sim", col, inplace = True)
    dy[col].replace("Não", np.nan, inplace = True)
    
dy.columns = np.arange(len(dy.columns))
dy

       0     1        2    3         4      5       6
0    NaN  Café      NaN  Pão  Manteiga    NaN     NaN
1  Leite   NaN  Cerveja  Pão  Manteiga    NaN     NaN
2    NaN  Café      NaN  Pão  Manteiga    NaN     NaN
3  Leite  Café      NaN  Pão  Manteiga    NaN     NaN
4    NaN   NaN  Cerveja  NaN       NaN    NaN     NaN
5    NaN   NaN      NaN  NaN  Manteiga    NaN     NaN
6    NaN   NaN      NaN  Pão       NaN    NaN     NaN
7    NaN   NaN      NaN  NaN       NaN    NaN  Feijão
8    NaN   NaN      NaN  NaN       NaN  Arroz  Feijão
9    NaN   NaN      NaN  NaN       NaN  Arroz     NaN

## Dimensões do dataset

In [4]:
dy.shape

(10, 7)

## Transformando o dataset em uma lista

In [5]:
# Iniciando a lista
transacoes_dy = []

# inserindo na lista de transações
for i in range(len(dy)):
    transacoes_dy.append([str(dy.values[i, j]) for j in range(dy.shape[1])])

In [6]:
# visualizando a lista
transacoes_dy

[['nan', 'Café', 'nan', 'Pão', 'Manteiga', 'nan', 'nan'],
 ['Leite', 'nan', 'Cerveja', 'Pão', 'Manteiga', 'nan', 'nan'],
 ['nan', 'Café', 'nan', 'Pão', 'Manteiga', 'nan', 'nan'],
 ['Leite', 'Café', 'nan', 'Pão', 'Manteiga', 'nan', 'nan'],
 ['nan', 'nan', 'Cerveja', 'nan', 'nan', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'nan', 'Manteiga', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'Pão', 'nan', 'nan', 'nan'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'Feijão'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'Arroz', 'Feijão'],
 ['nan', 'nan', 'nan', 'nan', 'nan', 'Arroz', 'nan']]

In [7]:
# confirmando a estrutura da variavél
type(transacoes_dy)

list

## Treinando o modelo apriori

In [8]:
# chamando a biblioteca a ser usada
from apyori import apriori

In [9]:
# treinamento do apriori
regras_dy = apriori(transacoes_dy, min_support = 0.3, min_confidence = 0.8)

# retornando uma saida não tabular
saida_dy = list(regras_dy)

# imprimindo o tamanho final
len(saida_dy)

12

## Visualizando o dataframe

In [10]:
ant = []
con = []
sup = []
cf = []
lt = []

for result in saida_dy:
    s = result[1]
    result_rules = result[2]
    
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        
        if 'nan' in a or 'nan' in b: continue
        if len(a) == 0 or len(b) == 0: continue
            
        ant.append(a)
        con.append(b)
        sup.append(s)
        cf.append(c)
        lt.append(l)
        
RegrasFinais_dy = pd.DataFrame({'Antecedente': ant, 'Consequente': con, 'Suporte': sup, 'Confianca': cf, 'Lift': lt})

In [11]:
RegrasFinais_dy

        Antecedente      Consequente  Suporte  Confianca  Lift
0            [Café]       [Manteiga]      0.3        1.0   2.0
1            [Café]            [Pão]      0.3        1.0   2.0
2        [Manteiga]            [Pão]      0.4        0.8   1.6
3             [Pão]       [Manteiga]      0.4        0.8   1.6
4            [Café]  [Pão, Manteiga]      0.3        1.0   2.5
5  [Manteiga, Café]            [Pão]      0.3        1.0   2.0
6       [Pão, Café]       [Manteiga]      0.3        1.0   2.0

In [12]:
ant = []
sup = []

for result in saida_dy:
    s = result[1]
    result_rules = result[2]
    
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        
        if 'nan' in a or 'nan' not in b: continue
        if len(a) != 1 or len(b) != 1: continue
            
        ant.append(a)
        con.append(b)
        sup.append(s)
        
Itemset1 = pd.DataFrame({'Antecedente': ant, 'Suporte': sup})
Itemset1

  Antecedente  Suporte
0      [Café]      0.3
1  [Manteiga]      0.5
2       [Pão]      0.5

In [13]:
ant = []
con = []
sup = []

for result in saida_dy:
    s = result[1]
    result_rules = result[2]
    
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        
        if 'nan' in a or 'nan' not in b: continue
        if len(a) != 2 or len(b) != 1: continue
            
        ant.append(a)
        con.append(b)
        sup.append(s)
        
Itemset2 = pd.DataFrame({'Antecedente': ant, 'Suporte': sup})
Itemset2

        Antecedente  Suporte
0  [Manteiga, Café]      0.3
1       [Pão, Café]      0.3
2   [Pão, Manteiga]      0.4

In [14]:
ant = []
con = []
sup = []

for result in saida_dy:
    s = result[1]
    result_rules = result[2]
    
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        
        if 'nan' in a or 'nan' not in b: continue
        if len(a) != 3 or len(b) != 1: continue
            
        ant.append(a)
        con.append(b)
        sup.append(s)
        
Itemset3 = pd.DataFrame({'Antecedente': ant, 'Suporte': sup})
Itemset3

             Antecedente  Suporte
0  [Pão, Manteiga, Café]      0.3

# Quando não há presença do produto

## Preparando o dataset

In [15]:
dn = base.copy()

for col in dn.columns:
    dn[col].replace('Sim', col, inplace = True)
    dn[col].replace('Não', ('~' + col), inplace = True)
    
dn.columns = np.arange(len(dn.columns))
dn

        0      1         2     3          4       5        6
0  ~Leite   Café  ~Cerveja   Pão   Manteiga  ~Arroz  ~Feijão
1   Leite  ~Café   Cerveja   Pão   Manteiga  ~Arroz  ~Feijão
2  ~Leite   Café  ~Cerveja   Pão   Manteiga  ~Arroz  ~Feijão
3   Leite   Café  ~Cerveja   Pão   Manteiga  ~Arroz  ~Feijão
4  ~Leite  ~Café   Cerveja  ~Pão  ~Manteiga  ~Arroz  ~Feijão
5  ~Leite  ~Café  ~Cerveja  ~Pão   Manteiga  ~Arroz  ~Feijão
6  ~Leite  ~Café  ~Cerveja   Pão  ~Manteiga  ~Arroz  ~Feijão
7  ~Leite  ~Café  ~Cerveja  ~Pão  ~Manteiga  ~Arroz   Feijão
8  ~Leite  ~Café  ~Cerveja  ~Pão  ~Manteiga   Arroz   Feijão
9  ~Leite  ~Café  ~Cerveja  ~Pão  ~Manteiga   Arroz  ~Feijão

## Dimensões do dataset

In [16]:
base.shape

(10, 7)

## Transformando o dataset em uma lista

In [17]:
# Iniciando a lista
transacoes = []

# inserindo na lista de transações
for i in range(len(dn)):
    transacoes.append([str(dn.values[i, j]) for j in range(dn.shape[1])])

In [18]:
# visualizando a lista
transacoes

[['~Leite', 'Café', '~Cerveja', 'Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['Leite', '~Café', 'Cerveja', 'Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', 'Café', '~Cerveja', 'Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['Leite', 'Café', '~Cerveja', 'Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', '~Café', 'Cerveja', '~Pão', '~Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', '~Café', '~Cerveja', '~Pão', 'Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', '~Café', '~Cerveja', 'Pão', '~Manteiga', '~Arroz', '~Feijão'],
 ['~Leite', '~Café', '~Cerveja', '~Pão', '~Manteiga', '~Arroz', 'Feijão'],
 ['~Leite', '~Café', '~Cerveja', '~Pão', '~Manteiga', 'Arroz', 'Feijão'],
 ['~Leite', '~Café', '~Cerveja', '~Pão', '~Manteiga', 'Arroz', '~Feijão']]

In [19]:
# confirmando a estrutura da variavél
type(transacoes)

list

## Treinando o modelo apriori

In [20]:
# chamando a biblioteca a ser usada
from apyori import apriori

In [21]:
# treinamento do apriori
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8)

# retornando uma saida não tabular
saida = list(regras)

# imprimindo o tamanho final
print(len(saida))

117

## Visualizando o dataframe

In [22]:
Antecedente = []
Consequente = []
suporte = []
confianca = []
lift = []

for resultado in saida:
    s = resultado[1]
    result_rules = resultado[2]
    
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        
        
        if len(a) == 0 or len(b) == 0: continue
        elif any('~' not in item for item in a) or any('~' in item for item in b): continue
            
        Antecedente.append(a)
        Consequente.append(b)
        suporte.append(s)
        confianca.append(c)
        lift.append(l)
        
RegrasFinais = pd.DataFrame({'Antecedente': Antecedente, 'Consequente': Consequente, 'Suporte': suporte, 'Confianca': confianca, 'Lift': lift})

In [23]:
RegrasFinais

                   Antecedente Consequente  Suporte  Confianca  Lift
0  [~Feijão, ~Arroz, ~Cerveja]  [Manteiga]      0.4        0.8   1.6
1  [~Feijão, ~Arroz, ~Cerveja]       [Pão]      0.4        0.8   1.6